openapi: 3.1.0

info:
  title: SOBH Messenger API
  version: 1.0.0
  description: |
    REST surface of the SOBH platform. Every response uses the envelope from
    §66, every path is versioned under `/api/v1` (§67), and every authenticated
    call carries a Bearer access token.

    Endpoints marked **planned** are specified here but not yet implemented;
    they are listed so client work can proceed against a stable contract. See
    `docs/architecture/roadmap.md` for the delivery order.
  license:
    name: Proprietary

servers:
  - url: https://api.sobh.app
    description: Production
  - url: http://localhost:8080
    description: Local development

tags:
  - name: Authentication
  - name: Chats
  - name: Messages
  - name: Sync
  - name: Platform
  - name: Contacts
  - name: Secret chats
  - name: Users
  - name: Bots
    description: |
      Registering and managing bots, called by their owner with an ordinary
      session token.
  - name: Bot API
    description: |
      What a bot itself calls, authenticated by a bot token in the
      Authorization header rather than in the path — a token in the URL lands
      in every access log and proxy trace between the bot and the server.
  - name: Stickers
  - name: Inline mode
    description: |
      Invoking a bot from another chat's compose box, and tapping the buttons
      under a bot's message.
  - name: Groups and channels
  - name: Communities
  - name: Stories
  - name: Polls
  - name: Calls
  - name: News
    description: Reader-facing news. The feed and articles are public.
  - name: Editorial
    description: The newsroom's own surface; every operation needs an editorial role.
  - name: Notifications
  - name: Search
  - name: Moderation
  - name: Admin
    description: |
      Each operation needs a specific permission rather than a blanket "admin"
      flag, and each one is written to the append-only audit log.

security:
  - bearerAuth: []

paths:
  /health:
    get:
      tags: [Platform]
      summary: Liveness probe
      description: Answers whether the process is alive. Touches no dependency.
      security: []
      responses:
        "200":
          description: Process is running
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /ready:
    get:
      tags: [Platform]
      summary: Readiness probe
      description: Checks PostgreSQL, Redis, NATS and object storage.
      security: []
      responses:
        "200": { description: Ready to serve traffic }
        "503":
          description: A dependency is unavailable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /api/v1/feature-flags:
    get:
      tags: [Platform]
      summary: List feature flags
      description: |
        Anonymous callers see the global state. Signed-in callers see their own
        bucketed answer, so the client can hide a feature instead of letting the
        user hit an error.
      security: [{}, { bearerAuth: [] }]
      responses:
        "200":
          description: Current flags
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          flags:
                            type: array
                            items: { $ref: "#/components/schemas/FeatureFlag" }

  /api/v1/auth/otp/request:
    post:
      tags: [Authentication]
      summary: Request a verification code
      description: |
        Sends a one-time code by SMS. The response is identical whether or not
        an account exists for the number, so it cannot be used to enumerate
        users. Limited per phone number and per IP address.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone:
                  type: string
                  description: |
                    Any common spelling is accepted and normalised to E.164:
                    `+98…`, `0098…`, `09…`, and Persian or Arabic-Indic digits.
                  examples: ["+989123456789", "09123456789", "۰۹۱۲۳۴۵۶۷۸۹"]
      responses:
        "200":
          description: Code dispatched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          expires_in: { type: integer, description: Seconds until the code expires }
                          resend_after: { type: integer, description: Seconds before a resend is allowed }
                          length: { type: integer }
                          debug_code:
                            type: string
                            description: Development only; refused in production.
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v1/auth/otp/verify:
    post:
      tags: [Authentication]
      summary: Verify a code and sign in
      description: |
        Exchanges the code for a token pair, creating the account on first use
        and registering the calling device. When the account has two-step
        verification, the first call returns `TWO_STEP_REQUIRED` and the client
        retries with `password` — the code stays valid for that retry.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code]
              properties:
                phone: { type: string }
                code: { type: string }
                password: { type: string, description: Two-step password, when enabled }
                device_name: { type: string, examples: ["Pixel 8"] }
                platform:
                  type: string
                  enum: [android, ios, web, desktop, unknown]
                app_version: { type: string, examples: ["1.0.0"] }
      responses:
        "200":
          description: Signed in
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/TokenPair" }
        "401":
          description: |
            `INVALID_OTP`, `OTP_EXPIRED`, `OTP_ATTEMPTS_EXCEEDED`,
            `TWO_STEP_REQUIRED` or `INVALID_PASSWORD`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "403":
          description: "`ACCOUNT_BANNED` or `TOO_MANY_DEVICES`"
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/auth/refresh:
    post:
      tags: [Authentication]
      summary: Rotate the refresh token
      description: |
        Returns a new access **and** refresh token. Rotation is mandatory: the
        presented token is invalidated immediately, so replaying it fails and a
        stolen token is single-use.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        "200":
          description: Rotated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/TokenPair" }
        "401": { description: "`SESSION_REVOKED` — sign in again" }

  /api/v1/auth/logout:
    post:
      tags: [Authentication]
      summary: Sign out of the calling session
      responses:
        "200": { description: Signed out (idempotent) }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v1/auth/sessions:
    get:
      tags: [Authentication]
      summary: List active sessions
      responses:
        "200":
          description: Active sessions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          sessions:
                            type: array
                            items: { $ref: "#/components/schemas/Session" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v1/auth/sessions/{sessionID}:
    delete:
      tags: [Authentication]
      summary: Revoke another device's session
      parameters:
        - name: sessionID
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Revoked }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/auth/sessions/revoke-others:
    post:
      tags: [Authentication]
      summary: Sign out every other device
      responses:
        "200":
          description: Count of revoked sessions
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /api/v1/auth/devices:
    get:
      tags: [Authentication]
      summary: List registered devices
      responses:
        "200": { description: Devices }

  /api/v1/auth/login-history:
    get:
      tags: [Authentication]
      summary: Recent sign-in activity
      responses:
        "200": { description: Login history }

  /api/v1/auth/two-step:
    put:
      tags: [Authentication]
      summary: Set, change or remove the two-step password
      description: |
        An empty `new_password` disables two-step verification. Any change bumps
        the account's token version, signing every existing session out.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password: { type: string }
                new_password: { type: string, minLength: 8 }
                hint: { type: string }
      responses:
        "200": { description: Updated }
        "401": { description: "`INVALID_PASSWORD`" }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v1/chats:
    get:
      tags: [Chats]
      summary: List the caller's chats
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
        - name: before
          in: query
          description: RFC3339 timestamp cursor from `meta.next_cursor`.
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: Chat list, pinned first then most recently active
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          chats:
                            type: array
                            items: { $ref: "#/components/schemas/Chat" }
    post:
      tags: [Groups and channels]
      summary: Create a group or channel
      description: |
        The creator is made owner and the named members are added in the same
        transaction, so a chat is never left with no owner or with members and
        no creator.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, title]
              properties:
                type: { type: string, enum: [group, channel] }
                title: { type: string, maxLength: 128 }
                description: { type: string, maxLength: 512 }
                username:
                  type: string
                  description: Required for a public chat; it is how the chat is found and linked to.
                is_public: { type: boolean, default: false }
                member_ids:
                  type: array
                  maxItems: 200
                  items: { type: string, format: uuid }
      responses:
        "201":
          description: The new chat
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/Chat" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: That username is taken
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v1/chats/private:
    post:
      tags: [Chats]
      summary: Open (or create) a private chat
      description: Idempotent — one chat exists per pair of users, in either order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: { type: string, format: uuid }
      responses:
        "200": { description: The chat id }

  /api/v1/chats/{chatID}/messages:
    get:
      tags: [Messages]
      summary: Read chat history
      description: Newest first, seeking by sequence number rather than offset.
      parameters:
        - name: chatID
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: before_seq
          in: query
          schema: { type: integer, format: int64 }
        - name: after_seq
          in: query
          schema: { type: integer, format: int64 }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200 }
      responses:
        "200":
          description: Messages
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          messages:
                            type: array
                            items: { $ref: "#/components/schemas/Message" }
        "403": { description: "`NOT_CHAT_MEMBER`" }
        "404": { description: "`CHAT_NOT_FOUND`" }

    post:
      tags: [Messages]
      summary: Send a message
      description: |
        The REST equivalent of the `message.send` WebSocket event, with the same
        idempotency guarantee: `client_message_id` makes a retry return the
        original message rather than creating a duplicate.
      parameters:
        - name: chatID
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SendMessageRequest" }
      responses:
        "201":
          description: Stored
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/Message" }
        "403":
          description: "`CHAT_PERMISSION_DENIED`, `NOT_CHAT_MEMBER` or `SLOW_MODE_ACTIVE`"
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/chats/{chatID}/read:
    post:
      tags: [Messages]
      summary: Advance the read cursor
      description: The cursor never moves backwards; a lower value is ignored.
      parameters:
        - name: chatID
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [seq]
              properties:
                seq: { type: integer, format: int64 }
      responses:
        "200": { description: New cursor position }

  /api/v1/chats/{chatID}/draft:
    put:
      tags: [Chats]
      summary: Store an unsent draft
      description: Drafts follow the user across their devices.
      parameters:
        - name: chatID
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                draft: { type: string }
      responses:
        "200": { description: Saved }

  /api/v1/chats/{chatID}/typing:
    post:
      tags: [Chats]
      summary: Broadcast a typing indicator
      parameters:
        - name: chatID
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                typing: { type: boolean }
      responses:
        "200": { description: Broadcast }

  /api/v1/messages/{messageID}:
    patch:
      tags: [Messages]
      summary: Edit a message
      description: Only the sender, and only within 48 hours of sending.
      parameters:
        - name: messageID
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string }
                entities: { type: array, items: { type: object } }
      responses:
        "200": { description: Updated }
        "403": { description: "`MESSAGE_TOO_OLD_TO_EDIT` or not the sender" }

    delete:
      tags: [Messages]
      summary: Delete a message
      description: |
        Soft delete: the row survives as a tombstone so the chat's sequence
        stays contiguous and other devices can reconcile the removal.
      parameters:
        - name: messageID
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Deleted (idempotent) }

  /api/v1/messages/{messageID}/reactions:
    post:
      tags: [Messages]
      summary: Toggle a reaction
      description: Sending the same emoji twice removes it.
      parameters:
        - name: messageID
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [emoji]
              properties:
                emoji: { type: string }
      responses:
        "200": { description: Reaction toggled }

  /api/v1/sync:
    get:
      tags: [Sync]
      summary: Fetch missed events
      description: |
        The REST form of `sync.request`. Returns durable events after `cursor`
        plus the current head, so a client that has been offline can catch up
        before opening a socket.
      parameters:
        - name: cursor
          in: query
          schema: { type: integer, format: int64, default: 0 }
        - name: limit
          in: query
          schema: { type: integer, default: 200, maximum: 500 }
      responses:
        "200":
          description: Events and the server head
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          events:
                            type: array
                            items: { $ref: "#/components/schemas/SyncEvent" }
                          server_seq: { type: integer, format: int64 }

  /api/v1/contacts:
    get:
      tags: [Contacts]
      summary: List the caller's contacts
      description: |
        Last seen is present only when the contact's privacy rule allows this
        viewer to see it (§55).
      responses:
        "200":
          description: The address book
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          contacts:
                            type: array
                            items: { $ref: "#/components/schemas/Contact" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Contacts]
      summary: Add one contact by user id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: { type: string, format: uuid }
                first_name: { type: string, maxLength: 100 }
                last_name: { type: string, maxLength: 100 }
      responses:
        "200": { description: Added }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/contacts/discovery-parameters:
    get:
      tags: [Contacts]
      summary: How to hash phone numbers before uploading them
      description: |
        The pepper is served to authenticated clients rather than embedded in
        the app, so it can be rotated without shipping a release (§54).
      responses:
        "200":
          description: Discovery parameters
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          algorithm: { type: string, example: HMAC-SHA256 }
                          pepper: { type: string }
                          digest_length: { type: integer, example: 32 }
                          max_batch_size: { type: integer, example: 2000 }

  /api/v1/contacts/sync:
    post:
      tags: [Contacts]
      summary: Match hashed phone numbers against accounts
      description: |
        The server never receives a phone number. The client normalises each to
        E.164, computes HMAC-SHA256 under the published pepper and uploads only
        the hex digests. `replace: true` makes the batch a full replacement, so
        a number deleted on the device disappears here too; a partial batch
        only adds. A user who has blocked the caller is not discoverable.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                replace: { type: boolean, default: false }
                entries:
                  type: array
                  maxItems: 2000
                  items:
                    type: object
                    required: [digest]
                    properties:
                      digest:
                        type: string
                        description: Hex-encoded HMAC-SHA256, 64 characters
                        pattern: "^[0-9a-fA-F]{64}$"
                      first_name: { type: string }
                      last_name: { type: string }
      responses:
        "200":
          description: The entries that resolved to accounts
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          matched:
                            type: array
                            items:
                              type: object
                              properties:
                                digest: { type: string }
                                user_id: { type: string, format: uuid }
                                display_name: { type: string }
                          uploaded: { type: integer }
        "422": { $ref: "#/components/responses/ValidationFailed" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /api/v1/contacts/{userID}:
    delete:
      tags: [Contacts]
      summary: Remove a contact
      parameters:
        - { name: userID, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: Removed }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/contacts/{userID}/favorite:
    put:
      tags: [Contacts]
      summary: Set or clear the favourite flag
      parameters:
        - { name: userID, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                favorite: { type: boolean }
      responses:
        "200": { description: Updated }

  /api/v1/contacts/blocked:
    get:
      tags: [Contacts]
      summary: List blocked users
      responses:
        "200":
          description: Blocked users
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          blocked:
                            type: array
                            items: { $ref: "#/components/schemas/Contact" }
    post:
      tags: [Contacts]
      summary: Block a user
      description: |
        Blocking also removes the contact entry in both directions, and makes
        the blocker undiscoverable to the blocked user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: { type: string, format: uuid }
                reason: { type: string, maxLength: 500 }
      responses:
        "200": { description: Blocked }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v1/contacts/blocked/{userID}:
    delete:
      tags: [Contacts]
      summary: Unblock a user
      parameters:
        - { name: userID, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: Unblocked }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/secret/chats:
    post:
      tags: [Secret chats]
      summary: Open the encrypted chat with a user
      description: |
        Returns the existing encrypted chat with that person or creates one, so
        calling it twice is safe and two devices racing land in one
        conversation rather than two.

        The peer must have at least one device that has published key material.
        A chat with someone who has none is refused rather than created: nothing
        sent into it could be encrypted to anybody, and a conversation that
        silently rejects every message is worse than a clear error.

        This is the only way to obtain a chat of type `secret`, which
        `POST /api/v1/secret/messages` requires (§24).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: { type: string, format: uuid }
      responses:
        "200":
          description: The encrypted chat
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          chat_id: { type: string, format: uuid }
                          created:
                            type: boolean
                            description: |
                              False when the chat already existed, so the caller
                              can tell a new conversation from an old one
                              without a second request.
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v1/secret/keys:
    post:
      tags: [Secret chats]
      summary: Publish this device's public key material
      description: |
        Keys are always published for the calling device. Rotating the identity
        key discards the device's remaining one-time prekeys and terminates its
        existing sessions, which is what should happen after a reinstall: the
        peer sees a changed safety number and is warned (§24).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                [
                  registration_id,
                  identity_key,
                  signed_prekey_id,
                  signed_prekey,
                  prekey_signature,
                ]
              properties:
                registration_id: { type: integer, minimum: 1 }
                identity_key:
                  type: string
                  description: |
                    Base64, decoding to 33 bytes: a one-byte curve identifier
                    followed by the 32-byte Curve25519 key. This is the Signal
                    wire format, not 32 plus a mistake.
                signed_prekey_id:
                  type: integer
                  minimum: 1
                  description: |
                    Which signed prekey this bundle carries. A session initiator
                    quotes it back and the recipient looks it up to derive the
                    same secret, so without it the first message of every
                    conversation fails to decrypt. Rotating means publishing a
                    new id alongside the new key.
                signed_prekey:
                  type: string
                  description: Base64, decoding to 33 bytes
                prekey_signature:
                  type: string
                  description: Base64, decoding to 64 bytes
                one_time_prekeys:
                  type: array
                  maxItems: 200
                  items:
                    type: object
                    properties:
                      key_id: { type: integer }
                      public_key: { type: string, description: Base64, decoding to 33 bytes }
      responses:
        "200": { description: Published }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v1/secret/keys/status:
    get:
      tags: [Secret chats]
      summary: How many one-time prekeys this device has left
      responses:
        "200":
          description: Prekey status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          available: { type: integer }
                          watermark: { type: integer, example: 20 }
                          needs_upload: { type: boolean }

  /api/v1/secret/keys/{userID}:
    get:
      tags: [Secret chats]
      summary: Claim a key bundle for every device a user has
      description: |
        Each call consumes one one-time prekey per device; a prekey is never
        handed out twice. When a device has none left the bundle omits
        `one_time_prekey` — X3DH allows a session built from the signed prekey
        alone, with less forward secrecy, so this is a degraded success rather
        than a failure.
      parameters:
        - { name: userID, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: One bundle per device
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          bundles:
                            type: array
                            items: { $ref: "#/components/schemas/KeyBundle" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/secret/sessions:
    post:
      tags: [Secret chats]
      summary: Record a session between two devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chat_id, recipient_device_id]
              properties:
                chat_id: { type: string, format: uuid }
                recipient_device_id: { type: string, format: uuid }
                fingerprint:
                  type: string
                  description: |
                    Base64 short authentication string both parties compare out
                    of band. The server stores it and never checks it.
      responses:
        "201":
          description: Session created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          session_id: { type: string, format: uuid }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/secret/sessions/{sessionID}/established:
    post:
      tags: [Secret chats]
      summary: Mark a pending session as established
      parameters:
        - { name: sessionID, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: Established }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/secret/messages:
    post:
      tags: [Secret chats]
      summary: Send ciphertext to one device
      description: |
        The server stores opaque bytes and cannot read them. Membership of the
        chat is checked so the mailbox is not an open relay; the payload itself
        is never examined. A repeated `client_message_id` returns the original
        envelope rather than storing a second one.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chat_id, recipient_device_id, ciphertext, client_message_id]
              properties:
                chat_id: { type: string, format: uuid }
                recipient_device_id: { type: string, format: uuid }
                ciphertext:
                  type: string
                  description: Base64, at most 128 KiB decoded
                message_type: { type: integer, default: 1 }
                client_message_id: { type: string, format: uuid }
      responses:
        "201":
          description: Stored and announced
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          envelope_id: { type: string, format: uuid }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { description: The encrypted payload is too large for a message }

  /api/v1/secret/inbox:
    get:
      tags: [Secret chats]
      summary: Fetch ciphertext waiting for this device
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 100, maximum: 500 }
      responses:
        "200":
          description: Undelivered envelopes, oldest first
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          envelopes:
                            type: array
                            items: { $ref: "#/components/schemas/SecretEnvelope" }

  /api/v1/secret/inbox/ack:
    post:
      tags: [Secret chats]
      summary: Acknowledge delivery, which deletes the ciphertext
      description: |
        Acknowledgement deletes rather than flags: the server should hold an
        encrypted payload only as long as it takes to hand it over. A device
        can only acknowledge envelopes addressed to itself.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  maxItems: 500
                  items: { type: string, format: uuid }
      responses:
        "200":
          description: How many envelopes were removed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          acknowledged: { type: integer }

  /api/v1/users/me:
    get:
      tags: [Users]
      summary: The caller's own profile
      description: |
        Privacy rules are not applied here: they exist to protect a user from
        others, not from themselves. The phone number and birthday appear only
        on this endpoint.
      responses:
        "200":
          description: The caller's profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/SelfProfile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    patch:
      tags: [Users]
      summary: Change part of the profile
      description: |
        Every field is optional and an omitted field is left alone, so a client
        that only knows about some of them cannot erase the rest. Lengths are
        counted in characters rather than bytes, so a Persian bio gets the same
        280 as an English one.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name: { type: string, maxLength: 64 }
                about: { type: string, maxLength: 280 }
                avatar_media_id: { type: string, format: uuid }
                language: { type: string, enum: [fa, en, tr, ar] }
                birthday: { type: string, format: date-time }
      responses:
        "200":
          description: The updated profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/SelfProfile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v1/users/me/username:
    put:
      tags: [Users]
      summary: Claim a username
      description: |
        Claiming a name releases whichever one the caller held before, and puts
        that one on a 30-day hold. Without the hold, renaming would free the old
        name instantly and let someone take over an identity that people still
        have links to. The hold names its previous owner, so the caller can
        always take their own old name back.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  pattern: "^@?[A-Za-z][A-Za-z0-9_]{4,31}$"
                  description: |
                    Case-insensitive, a leading `@` is accepted and stripped.
                    Only ASCII letters, digits and underscore: a username is
                    typed from memory and read out of a link, so characters
                    that look alike in different scripts are excluded rather
                    than normalised.
      responses:
        "200":
          description: The name is now the caller's
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: Taken, reserved, or on hold for its previous owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v1/users/username-available:
    get:
      tags: [Users]
      summary: Ask whether a username can be claimed
      description: |
        What a rename form calls as the user types. The answer is decided by
        the same SQL function the claim uses, so the check and the claim cannot
        disagree. The caller's own current name reports as available, because
        re-submitting an unchanged form must not be an error.
      parameters:
        - in: query
          name: username
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Whether it is free, and if not, why
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          username: { type: string }
                          available: { type: boolean }
                          reason:
                            type: string
                            enum: [invalid, reserved, taken]
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v1/users/me/privacy:
    get:
      tags: [Users]
      summary: Every privacy rule this account has
      description: |
        Returns all nine keys of §55 — `last_seen`, `profile_photo`,
        `phone_number`, `read_receipts`, `typing`, `calls`, `group_invites`,
        `messages`, `stories` — including keys never explicitly set, filled in
        with the default the resolver itself assumes. A client renders a
        complete list rather than one that grows as settings are first touched.
      responses:
        "200":
          description: The rules
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          settings:
                            type: array
                            items: { $ref: "#/components/schemas/PrivacySetting" }

  /api/v1/users/me/privacy/{key}:
    put:
      tags: [Users]
      summary: Change one privacy rule
      description: |
        The rule decides the general case; `allow_list` and `deny_list` are the
        exceptions, which is how "everyone except her" and "nobody but him" are
        expressed. The resolver applies a deny before an allow before the rule,
        so naming somebody in both is refused rather than stored and silently
        reinterpreted.

        An unknown key is refused. The database would accept it, but nothing
        would ever read it — leaving someone believing they had restricted
        something they had not.
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
            enum: [last_seen, profile_photo, phone_number, read_receipts, typing, calls, group_invites, messages, stories]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rule]
              properties:
                rule: { type: string, enum: [everyone, contacts, nobody] }
                allow_list:
                  type: array
                  maxItems: 1000
                  items: { type: string, format: uuid }
                deny_list:
                  type: array
                  maxItems: 1000
                  items: { type: string, format: uuid }
      responses:
        "200":
          description: The stored rule
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/PrivacySetting" }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v1/users/by-username/{username}:
    get:
      tags: [Users]
      summary: Resolve a public handle
      description: How a `@someone` link is opened.
      parameters:
        - in: path
          name: username
          required: true
          schema: { type: string }
      responses:
        "200":
          description: The profile behind the handle
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/Profile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/users/{userID}:
    get:
      tags: [Users]
      summary: One user's profile as the caller may see it
      description: |
        The privacy rules of §55 are applied in the same query that reads the
        row, so there is no window in which the server holds data it must
        remember to strip. A field the caller may not see is absent rather than
        empty.
      parameters:
        - in: path
          name: userID
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: The profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/Profile" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/chats/{chatID}/forward:
    post:
      tags: [Messages]
      summary: Forward messages into another chat
      description: |
        The destination is checked before the sources: being able to read a
        message says nothing about being allowed to post it somewhere else.
        Membership of the source chat is joined into the query that reads the
        messages rather than checked afterwards, so naming a guessable message
        id in a chat the caller is not in returns nothing rather than leaking
        the row.

        Forwarding a forward keeps crediting whoever wrote the message, so a
        long chain does not slowly reassign authorship to the last person who
        passed it on.
      parameters:
        - $ref: "#/components/parameters/ChatID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to_chat_id, message_ids]
              properties:
                to_chat_id: { type: string, format: uuid }
                message_ids:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items: { type: string, format: uuid }
                drop_author:
                  type: boolean
                  default: false
                  description: Forward the text without naming the original author.
      responses:
        "201":
          description: The messages as they now exist in the destination
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          messages:
                            type: array
                            items: { $ref: "#/components/schemas/Message" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a member of the destination chat
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/chats/{chatID}/pinned:
    get:
      tags: [Messages]
      summary: What is pinned in a chat
      parameters:
        - $ref: "#/components/parameters/ChatID"
      responses:
        "200":
          description: Pinned messages, newest first
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          messages:
                            type: array
                            items: { $ref: "#/components/schemas/Message" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v1/messages/{messageID}/pin:
    put:
      tags: [Messages]
      summary: Pin or unpin a message
      description: |
        Needs the chat's pin permission, because a pin is shown to everyone in
        the chat rather than only to the person who set it.
      parameters:
        - in: path
          name: messageID
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pinned]
              properties:
                pinned: { type: boolean }
      responses:
        "200":
          description: Done; every member is told over the chat subject
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The caller cannot pin in this chat
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/chats/{chatID}/flags:
    put:
      tags: [Chats]
      summary: Pin or archive a chat for the caller
      description: |
        These are per member, not per chat: one person archiving a group must
        not archive it for everyone else in it. An omitted field is left alone,
        so unarchiving is not also an instruction to unpin.
      parameters:
        - $ref: "#/components/parameters/ChatID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pinned: { type: boolean, nullable: true }
                archived: { type: boolean, nullable: true }
      responses:
        "200":
          description: Done
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a member of this chat
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /api/v1/chats/{chatID}/mute:
    put:
      tags: [Chats]
      summary: Mute a chat until a time
      parameters:
        - $ref: "#/components/parameters/ChatID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                muted_until:
                  type: string
                  format: date-time
                  nullable: true
                  description: |
                    Null unmutes. A far-future time is how a client says
                    "for ever" without a separate flag to keep in step.
      responses:
        "200":
          description: Done
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a member of this chat
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /api/v1/chats/{chatID}/scheduled:
    get:
      tags: [Messages]
      summary: The caller's queued posts in this chat
      description: |
        Private to their author: another member of the chat sees nothing here,
        because a queued post is a draft rather than part of the conversation.
      parameters:
        - $ref: "#/components/parameters/ChatID"
      responses:
        "200":
          description: Queued posts, soonest first
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          messages:
                            type: array
                            items: { $ref: "#/components/schemas/ScheduledMessage" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Messages]
      summary: Queue a post for later
      description: |
        A queued post is not a message yet: it has no sequence number and does
        not appear in anyone's history. It becomes one at publication, through
        the ordinary send path, so ordering follows when a message became
        visible rather than when it was written.

        `client_message_id` is required and is carried through to the published
        message. That is what makes both this call and the publication itself
        idempotent: re-submitting the same compose request edits the queued post
        rather than queueing a second copy, and a publisher that dies before
        recording its result re-sends to the same message rather than a new one.

        The author's right to post is re-checked at publication, not trusted
        from now — they may be muted, restricted or removed in between.
      parameters:
        - $ref: "#/components/parameters/ChatID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client_message_id, scheduled_at]
              properties:
                client_message_id: { type: string, format: uuid }
                type:
                  type: string
                  default: text
                  enum: [text, image, video, audio, voice, file, location, contact, sticker, gif, poll]
                content: { type: string }
                attachments:
                  type: array
                  items: { $ref: "#/components/schemas/Attachment" }
                reply_to_id: { type: string, format: uuid, nullable: true }
                is_silent: { type: boolean, default: false }
                scheduled_at:
                  type: string
                  format: date-time
                  description: |
                    At least 10 seconds ahead and at most a year, so a typo
                    cannot park a row indefinitely.
      responses:
        "201":
          description: The queued post
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/ScheduledMessage" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The caller cannot post in this chat
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "409":
          description: That client_message_id names a message that has already been sent
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v1/chats/{chatID}/scheduled/{scheduledID}:
    delete:
      tags: [Messages]
      summary: Cancel a queued post
      description: |
        `scheduledID` is the id of the queued post, not of a message: a post
        that has not published has no message id yet.
      parameters:
        - $ref: "#/components/parameters/ChatID"
        - in: path
          name: scheduledID
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Removed from the queue
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/bots:
    get:
      tags: [Bots]
      summary: The bots the caller owns
      responses:
        "200":
          description: The caller's bots
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          bots:
                            type: array
                            items: { $ref: "#/components/schemas/Bot" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Bots]
      summary: Register a bot
      description: |
        Anyone with an account may register a bot; this is the equivalent of
        Telegram's BotFather, as an ordinary API rather than a conversation with
        another bot.

        A bot is created as an ordinary user row carrying `is_bot`, which is why
        every existing membership, permission and delivery path works on it
        unchanged rather than needing a parallel implementation.

        The response carries the bot's first token in full. **It is shown once
        and never again**: only a SHA-256 hash is stored, so a lost token is
        replaced rather than recovered.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, display_name]
              properties:
                username:
                  type: string
                  pattern: "^[a-z][a-z0-9_]{3,27}bot$"
                  description: |
                    Must end in `bot`. The suffix is a visible, unforgeable
                    signal to whoever is talking to it: a person can tell from
                    the handle alone that there is no human on the other end.
                display_name: { type: string, maxLength: 64 }
                description: { type: string, maxLength: 512 }
      responses:
        "201":
          description: The bot, with its first token shown once
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          bot: { $ref: "#/components/schemas/Bot" }
                          token: { $ref: "#/components/schemas/IssuedToken" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: That username is taken, or the caller has too many bots
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v1/bots/{botID}:
    get:
      tags: [Bots]
      summary: One of the caller's bots
      parameters:
        - $ref: "#/components/parameters/BotID"
      responses:
        "200":
          description: The bot
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/Bot" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Bots]
      summary: Change a bot's settings
      parameters:
        - $ref: "#/components/parameters/BotID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name: { type: string, maxLength: 64 }
                description: { type: string, maxLength: 512 }
                about: { type: string, maxLength: 280 }
                can_join_groups: { type: boolean }
                privacy_mode:
                  type: boolean
                  description: |
                    On by default. With it on the bot is sent only messages
                    addressed to it — commands, replies and mentions. The filter
                    is applied in SQL at the point updates are selected, so a
                    bot is never handed a message it is not entitled to see and
                    then trusted to discard it.
                inline_enabled: { type: boolean }
                inline_placeholder: { type: string, maxLength: 64 }
                is_active:
                  type: boolean
                  description: Deactivating stops every token at once.
      responses:
        "200":
          description: The updated bot
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/Bot" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/bots/{botID}/tokens:
    get:
      tags: [Bots]
      summary: A bot's live tokens, without their secrets
      description: |
        Only a short prefix of each token is stored in the clear, which is
        enough to tell two of them apart in a list and useless as a credential.
      parameters:
        - $ref: "#/components/parameters/BotID"
      responses:
        "200":
          description: The tokens
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          tokens:
                            type: array
                            items: { $ref: "#/components/schemas/BotToken" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Bots]
      summary: Issue another token
      description: |
        A bot may hold up to five live tokens at once, so a rotation can bring
        the new one into service before retiring the old one — otherwise every
        rotation would be an outage. The secret is shown once.
      parameters:
        - $ref: "#/components/parameters/BotID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string, maxLength: 64 }
      responses:
        "201":
          description: The new token, shown once
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/IssuedToken" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: That bot already holds the maximum number of tokens
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /api/v1/bots/{botID}/tokens/{tokenID}:
    delete:
      tags: [Bots]
      summary: Revoke a token
      description: Revocation takes effect on the next request; there is no cache to wait out.
      parameters:
        - $ref: "#/components/parameters/BotID"
        - in: path
          name: tokenID
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Revoked
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/bots/{botID}/commands:
    get:
      tags: [Bots]
      summary: A bot's advertised commands
      parameters:
        - $ref: "#/components/parameters/BotID"
      responses:
        "200":
          description: The commands
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          commands:
                            type: array
                            items: { $ref: "#/components/schemas/BotCommand" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    put:
      tags: [Bots]
      summary: Replace the command list
      description: |
        The list is replaced wholesale rather than merged, so what the client
        sends is exactly what users will be offered.
      parameters:
        - $ref: "#/components/parameters/BotID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                commands:
                  type: array
                  maxItems: 100
                  items: { $ref: "#/components/schemas/BotCommand" }
      responses:
        "200":
          description: Replaced
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v1/bots/{botID}/webhook:
    get:
      tags: [Bots]
      summary: The bot's webhook registration, without its secret
      parameters:
        - $ref: "#/components/parameters/BotID"
      responses:
        "200":
          description: The registration, or null if there is none
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/BotWebhook" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    put:
      tags: [Bots]
      summary: Register a webhook
      description: |
        The URL must be https and must resolve to a public address. It is
        checked through the same guard the link unfurler uses: the resolved
        address is validated in the dialer itself rather than before the dial,
        which closes the window in which a name resolves to a public address on
        the check and a private one on the connection.

        Registering returns a secret, shown once. Every delivery carries an
        `X-SOBH-Signature` header holding the HMAC-SHA256 of the body under that
        secret, so the receiver can tell a real delivery from anyone who has
        learned the URL.
      parameters:
        - $ref: "#/components/parameters/BotID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url: { type: string, format: uri }
                max_connections: { type: integer, minimum: 1, maximum: 100, default: 40 }
                allowed_updates:
                  type: array
                  items: { type: string }
                  description: An empty list means every kind of update.
      responses:
        "200":
          description: The signing secret, shown once
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          secret: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422":
          description: The URL is not https, or does not resolve to a public address
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
    delete:
      tags: [Bots]
      summary: Remove the webhook and go back to polling
      parameters:
        - $ref: "#/components/parameters/BotID"
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v1/bot/me:
    get:
      tags: [Bot API]
      summary: Who this token belongs to
      security:
        - botToken: []
      responses:
        "200":
          description: The authenticated bot
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/Bot" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v1/bot/updates:
    get:
      tags: [Bot API]
      summary: Poll for updates
      description: |
        Updates are queued durably and handed over in order. A bot confirms what
        it has processed by asking for the next `offset`, so a bot that restarts
        mid-batch resumes where it left off rather than losing the batch — the
        queue is not a fan-out buffer that a disconnection empties.

        The backlog is bounded per bot. A bot that stops polling for long enough
        loses its oldest updates rather than growing without limit, which keeps
        one abandoned bot from filling the table.
      security:
        - botToken: []
      parameters:
        - in: query
          name: offset
          schema: { type: integer, format: int64 }
          description: |
            Confirms every update below this id and asks for what follows.
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 100 }
      responses:
        "200":
          description: The next updates in order
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          updates:
                            type: array
                            items: { $ref: "#/components/schemas/BotUpdate" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v1/bot/messages:
    post:
      tags: [Bot API]
      summary: Send a message as the bot
      description: |
        The bot posts as itself, through the ordinary send path and subject to
        the ordinary membership and permission checks — being a bot is not a way
        around them.
      security:
        - botToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chat_id]
              properties:
                chat_id: { type: string, format: uuid }
                content: { type: string }
                reply_to_id: { type: string, format: uuid, nullable: true }
      responses:
        "201":
          description: The message as sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/Message" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The bot is not a member of that chat, or may not post in it
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /api/v1/bot/commands:
    put:
      tags: [Bot API]
      summary: Replace the command list, as the bot
      security:
        - botToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                commands:
                  type: array
                  items: { $ref: "#/components/schemas/BotCommand" }
      responses:
        "200":
          description: Replaced
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v1/bot/webhook:
    put:
      tags: [Bot API]
      summary: Register a webhook, as the bot
      security:
        - botToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url: { type: string, format: uri }
                max_connections: { type: integer, default: 40 }
                allowed_updates:
                  type: array
                  items: { type: string }
      responses:
        "200":
          description: The signing secret, shown once
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          secret: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [Bot API]
      summary: Remove the webhook, as the bot
      security:
        - botToken: []
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v1/stickers:
    get:
      tags: [Stickers]
      summary: The sets the caller has installed
      description: |
        The images come back with the sets rather than needing a call each, so
        opening the picker is one request.
      responses:
        "200":
          description: Installed sets, in the caller's order
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          sets:
                            type: array
                            items: { $ref: "#/components/schemas/StickerSet" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Stickers]
      summary: Create a sticker set
      description: |
        The set and all its stickers are written in one transaction, so a set
        naming media that was never uploaded is refused whole rather than
        leaving a half-built pack behind.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug, title, stickers]
              properties:
                slug:
                  type: string
                  pattern: "^[a-z][a-z0-9_]{2,31}$"
                  description: Appears in the share link, so it is held to the same alphabet as a username.
                title: { type: string }
                kind: { type: string, default: static, enum: [static, animated, video] }
                stickers:
                  type: array
                  minItems: 1
                  maxItems: 120
                  items:
                    type: object
                    required: [media_id]
                    properties:
                      media_id: { type: string, format: uuid }
                      emoji: { type: string }
      responses:
        "201":
          description: The set, with its stickers in submitted order
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/StickerSet" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: That slug is taken
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v1/stickers/search:
    get:
      tags: [Stickers]
      summary: Find sets by title, slug or the emoji their stickers carry
      parameters:
        - in: query
          name: q
          schema: { type: string }
      responses:
        "200":
          description: Matching sets, official ones first. Always a list, never null.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          sets:
                            type: array
                            items: { $ref: "#/components/schemas/StickerSet" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v1/stickers/link-preview:
    get:
      tags: [Stickers]
      summary: Unfurl a link
      description: |
        The cache is shared across users deliberately: fetching the same news
        article once per recipient would turn a popular link into an accidental
        attack on whoever published it. A failure is cached too, so a dead link
        is not re-fetched every time a chat is opened.

        Unfurling reaches a stranger's server on a user's say-so, so the address
        is the security boundary. Loopback, link-local — including the cloud
        metadata endpoint — and private ranges are all refused, redirects are
        re-validated, and the read is bounded: the metadata is in the head,
        so there is no reason to read an endless page.
      parameters:
        - in: query
          name: url
          required: true
          schema: { type: string, format: uri }
      responses:
        "200":
          description: The preview
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/LinkPreview" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: The link has no preview, or could not be fetched
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "422":
          description: Not a resolvable public http or https URL
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /api/v1/stickers/{slug}:
    get:
      tags: [Stickers]
      summary: One set by its slug
      parameters:
        - in: path
          name: slug
          required: true
          schema: { type: string }
      responses:
        "200":
          description: The set, with `is_added` for the caller
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/StickerSet" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/stickers/{setID}/added:
    put:
      tags: [Stickers]
      summary: Install a set
      description: Installing twice is what a double tap does, so it is not an error.
      parameters:
        - in: path
          name: setID
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Installed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Stickers]
      summary: Remove an installed set
      parameters:
        - in: path
          name: setID
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v1/chats/discover:
    get:
      tags: [Groups and channels]
      summary: Public groups and channels
      parameters:
        - { in: query, name: q, schema: { type: string } }
        - { in: query, name: limit, schema: { type: integer, default: 20, maximum: 100 } }
      responses:
        "200":
          description: Public chats matching the query
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          chats: { type: array, items: { $ref: "#/components/schemas/Chat" } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/v1/chats/join/{slug}:
    post:
      tags: [Groups and channels]
      summary: Join through an invite link
      description: |
        The slug is the link's own secret, so it is checked against the link's
        member limit and expiry rather than against the chat's public setting.
        A revoked link stops working immediately.
      parameters:
        - { in: path, name: slug, required: true, schema: { type: string } }
      responses:
        "200":
          description: The chat that was joined, or the pending join request
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/Chat" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "410":
          description: The link has expired or been revoked
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /api/v1/chats/{chatID}:
    patch:
      tags: [Groups and channels]
      summary: Change a chat's title, description, username or photo
      description: An omitted field is left alone.
      parameters: [{ $ref: "#/components/parameters/ChatID" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string, nullable: true }
                description: { type: string, nullable: true }
                username: { type: string, nullable: true }
                photo_media_id: { type: string, format: uuid, nullable: true }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    delete:
      tags: [Groups and channels]
      summary: Delete a chat
      description: Owner only. The chat is tombstoned rather than erased, so message history stays referentially intact.
      parameters: [{ $ref: "#/components/parameters/ChatID" }]
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/chats/{chatID}/join:
    post:
      tags: [Groups and channels]
      summary: Join a public chat
      parameters: [{ $ref: "#/components/parameters/ChatID" }]
      responses:
        "200":
          description: The chat, or a pending request when approval is required
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/Chat" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/chats/{chatID}/leave:
    post:
      tags: [Groups and channels]
      summary: Leave a chat
      description: |
        Membership is ended rather than deleted, so the messages the caller sent
        keep their author.
      parameters: [{ $ref: "#/components/parameters/ChatID" }]
      responses:
        "200":
          description: Left
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: The owner must transfer ownership before leaving
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }

  /api/v1/chats/{chatID}/members:
    get:
      tags: [Groups and channels]
      summary: List members
      parameters:
        - { $ref: "#/components/parameters/ChatID" }
        - { in: query, name: role, schema: { type: string, enum: [owner, admin, moderator, member, restricted] } }
        - { in: query, name: limit, schema: { type: integer, default: 50, maximum: 200 } }
        - { in: query, name: offset, schema: { type: integer, default: 0 } }
      responses:
        "200":
          description: The members
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          members: { type: array, items: { $ref: "#/components/schemas/Membership" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Groups and channels]
      summary: Add members
      parameters: [{ $ref: "#/components/parameters/ChatID" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_ids]
              properties:
                user_ids:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items: { type: string, format: uuid }
      responses:
        "200":
          description: How many were added; users who block the caller are skipped rather than failing the batch
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          added: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationFailed" }

  /api/v1/chats/{chatID}/members/{userID}:
    delete:
      tags: [Groups and channels]
      summary: Remove a member
      parameters:
        - { $ref: "#/components/parameters/ChatID" }
        - { in: path, name: userID, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/chats/{chatID}/members/{userID}/role:
    put:
      tags: [Groups and channels]
      summary: Set a member's role, permissions and title
      description: |
        Nobody may grant a role at or above their own, so an admin cannot
        promote themselves or another admin to owner.
      parameters:
        - { $ref: "#/components/parameters/ChatID" }
        - { in: path, name: userID, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role: { type: string, enum: [admin, moderator, member, restricted] }
                permissions:
                  type: object
                  additionalProperties: { type: boolean }
                custom_title: { type: string, maxLength: 32 }
      responses:
        "200":
          description: Set
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/chats/{chatID}/transfer-ownership:
    post:
      tags: [Groups and channels]
      summary: Hand ownership to another member
      description: One transaction, so a chat is never left with two owners or none.
      parameters: [{ $ref: "#/components/parameters/ChatID" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: { type: string, format: uuid }
      responses:
        "200":
          description: Transferred
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/chats/{chatID}/settings:
    get:
      tags: [Groups and channels]
      summary: A chat's settings
      parameters: [{ $ref: "#/components/parameters/ChatID" }]
      responses:
        "200":
          description: The settings
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/ChatSettings" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    put:
      tags: [Groups and channels]
      summary: Change a chat's settings
      parameters: [{ $ref: "#/components/parameters/ChatID" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChatSettings" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/chats/{chatID}/invite-links:
    get:
      tags: [Groups and channels]
      summary: The chat's invite links
      parameters: [{ $ref: "#/components/parameters/ChatID" }]
      responses:
        "200":
          description: The links
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          links: { type: array, items: { $ref: "#/components/schemas/InviteLink" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Groups and channels]
      summary: Create an invite link
      description: |
        Several links can be live at once, each with its own limit and expiry,
        so one can be revoked without cutting off everyone else who was invited.
      parameters: [{ $ref: "#/components/parameters/ChatID" }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 64 }
                member_limit: { type: integer, nullable: true, minimum: 1 }
                expires_at: { type: string, format: date-time, nullable: true }
      responses:
        "201":
          description: The new link
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/InviteLink" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/chats/{chatID}/invite-links/{linkID}:
    delete:
      tags: [Groups and channels]
      summary: Revoke an invite link
      parameters:
        - { $ref: "#/components/parameters/ChatID" }
        - { in: path, name: linkID, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: Revoked; it stops working immediately
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/chats/{chatID}/join-requests:
    get:
      tags: [Groups and channels]
      summary: Pending join requests
      parameters: [{ $ref: "#/components/parameters/ChatID" }]
      responses:
        "200":
          description: The pending requests
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          requests: { type: array, items: { $ref: "#/components/schemas/JoinRequest" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/chats/{chatID}/join-requests/{userID}:
    post:
      tags: [Groups and channels]
      summary: Approve or decline a join request
      parameters:
        - { $ref: "#/components/parameters/ChatID" }
        - { in: path, name: userID, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approve]
              properties:
                approve: { type: boolean }
      responses:
        "200":
          description: Resolved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Envelope" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /api/v1/chats/{chatID}/messages/{messageID}/view:
    post:
      tags: [Groups and channels]
      summary: Record a channel post view
      description: |
        Counted once per user rather than per request, so reopening a channel
        does not inflate the number.
      parameters:
        - { $ref: "#/components/parameters/ChatID" }
        - { in: path, name: messageID, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
[...]
